{% extends "base.html" %}

{% from "macros.jinja" import window_vars with context %} {% block scripts %} {{
window_vars(user) }}

<script src="{{ static_url_for('webshop/static', path='js/index.js') }}"></script>

{% endblock %} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    

    <div class="q-mt-lg">
      <span class="text-h5">Shop</span>
    </div>
    <q-card
      id="shopCard"
      class="q-mt-xs"
    >
      <q-card-section
        class=""
      >
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <q-input
              :label="$t('search')"
              dense
              class="q-pr-xl"
              v-model="shopTable.search"
            >
              <template v-slot:before>
                <q-icon name="search"> </q-icon>
              </template>
              <template v-slot:append>
                <q-icon
                  v-if="shopTable.search !== ''"
                  name="close"
                  @click="shopTable.search = ''"
                  class="cursor-pointer"
                >
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-auto">
            
            <q-btn
              @click="showNewShopForm()"
              unelevated
              split
              color="primary"
            >
              New Shop
            </q-btn>
            
            <q-btn
              flat
              color="grey"
              icon="file_download"
              @click="exportShopCSV"
              >CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="shopList"
          row-key="id"
          :columns="shopTable.columns"
          v-model:pagination="shopTable.pagination"
          :loading="shopTable.loading"
          @request="getShop"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                
                <q-btn
                  flat
                  dense
                  size="xs"
                  icon="launch"
                  color="primary"
                  type="a"
                  :href="'/webshop/' + props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                  ><q-tooltip>Open public page</q-tooltip></q-btn
                >
                 
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="showEditShopForm(props.row)"
                  icon="edit"
                  color="light-blue"
                  class="q-mr-sm"
                >
                  <q-tooltip> Edit </q-tooltip>
                </q-btn>
                
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteShop(props.row.id)"
                  icon="cancel"
                  color="pink"
                  class="q-mr-sm"
                >
                  <q-tooltip> Delete </q-tooltip>
                </q-btn>
              </q-td>

              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                <div v-if="col.field == 'updated_at'">
                  <span v-text="dateFromNow(col.value)"> </span>
                </div>
                <div v-else>${ col.value }</div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>

    <div class="q-mt-lg">
      <span class="text-h5">Orders</span>
    </div>
    <q-card
      id="clientDataCard"
      class="q-mt-xs"
    >
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <q-input
              :label="$t('search')"
              dense
              class="q-pr-xl"
              v-model="clientDataTable.search"
            >
              <template v-slot:before>
                <q-icon name="search"> </q-icon>
              </template>
              <template v-slot:append>
                <q-icon
                  v-if="clientDataTable.search !== ''"
                  name="close"
                  @click="clientDataTable.search = ''"
                  class="cursor-pointer"
                >
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-auto">
            <q-btn
              flat
              color="grey"
              icon="file_download"
              @click="exportClientDataCSV"
              >CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="clientDataList"
          row-key="id"
          :columns="clientDataTable.columns"
          v-model:pagination="clientDataTable.pagination"
          :loading="clientDataTable.loading"
          @request="getClientData"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  dense
                  flat
                  size="xs"
                  :color="props.row.shipped ? 'green' : 'grey'"
                  :icon="props.row.shipped ? 'local_shipping' : 'local_shipping'"
                  @click="toggleShipped(props.row)"
                  class="q-mr-sm"
                >
                  <q-tooltip>
                    <span v-text="props.row.shipped ? 'Mark unshipped' : 'Mark shipped'"></span>
                  </q-tooltip>
                </q-btn>
              </q-td>

              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                <div v-if="col.field == 'updated_at'">
                  <span v-text="dateFromNow(col.value)"> </span>
                </div>
                <div v-else-if="col.field == 'shipped'">
                  <q-badge
                    :color="col.value ? 'green' : 'orange'"
                    align="middle"
                    >${ col.value ? 'Yes' : 'No' }</q-badge>
                </div>
                <div v-else>${ col.value }</div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>
  
  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} WebShop
        </h6>
        <p>Embedible web-shop</p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "webshop/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "webshop/_webshop.html" %}
        </q-list>
      </q-card-section>
    </q-card>
  </div>
  

  <!--/////////////////////////////////////////////////-->
  <!--//////////////FORM DIALOG////////////////////////-->
  <!--/////////////////////////////////////////////////-->


  <q-dialog v-model="shopFormDialog.show" position="top">
    <q-card
      v-if="shopFormDialog.show"
      class="q-pa-lg q-pt-md lnbits__dialog-card q-col-gutter-md"
    >
      <span class="text-h5">Shop</span>

       
<q-input
  filled
  dense
  v-model.trim="shopFormDialog.data.name"
  label="Name"
  hint=" "
></q-input>
  
<q-input
  filled
  dense
  v-model.trim="shopFormDialog.data.description"
  label="Description"
  hint=" "
></q-input>
  
<q-input
  filled
  dense
  v-model.trim="shopFormDialog.data.primary_color"
  label="Primary Color"
  hint=" "
></q-input>
  
<q-input
  filled
  dense
  v-model.trim="shopFormDialog.data.secondary_color"
  label="Secondary Color"
  hint=" "
></q-input>
<q-input
  filled
  dense
  v-model.trim="shopFormDialog.data.inventory_id"
  label="Inventory ID"
  hint="Inventory ID from the Inventory extension"
></q-input>
       <q-select
        filled
        dense
        emit-value
        v-model="shopFormDialog.data.wallet"
        :options="g.user.walletOptions"
        label="Wallet *"
      ></q-select>
      <div class="row q-mt-lg">
        <q-btn @click="saveShop" unelevated color="primary">
          <span v-if="shopFormDialog.data.id">Update</span>
          <span v-else>Create</span>
        </q-btn>
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %}
