{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block scripts %} {{ window_vars(user) }}

<script src="{{ static_url_for('webshop/static', path='js/index.js') }}"></script>

{% endblock %} {% block page %}
  <div class="row q-col-gutter-md">
    <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
      <q-banner
        v-if="!g.extensions.includes('orders')"
        class="bg-warning text-black q-mb-md"
        dense
        rounded
      >
        Orders extension must be installed and enabled.
      </q-banner>
    <div class="q-mt-lg">
      <span class="text-h5">Shop</span>
    </div>
    <q-card id="shopCard" class="q-mt-xs">
      <q-card-section class="">
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <q-input
              :label="$t('search')"
              dense
              class="q-pr-xl"
              v-model="shopTable.search"
            >
              <template v-slot:before>
                <q-icon name="search"> </q-icon>
              </template>
              <template v-slot:append>
                <q-icon
                  v-if="shopTable.search !== ''"
                  name="close"
                  @click="shopTable.search = ''"
                  class="cursor-pointer"
                >
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-auto">
            <q-btn @click="showNewShopForm()" unelevated split color="primary">
              New Shop
            </q-btn>

            <q-btn flat color="grey" icon="file_download" @click="exportShopCSV"
              >CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="shopList"
          row-key="id"
          :columns="shopTable.columns"
          v-model:pagination="shopTable.pagination"
          :loading="shopTable.loading"
          @request="getShop"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  icon="launch"
                  color="primary"
                  type="a"
                  :href="'/webshop/' + props.row.id"
                  target="_blank"
                  class="q-mr-sm"
                  ><q-tooltip>Open public page</q-tooltip></q-btn
                >

                <q-btn
                  flat
                  dense
                  size="xs"
                  icon="content_copy"
                  color="grey"
                  class="q-mr-sm"
                  @click="copyIframe(props.row)"
                >
                  <q-tooltip>Copy iframe embed</q-tooltip>
                </q-btn>

                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="showEditShopForm(props.row)"
                  icon="edit"
                  color="light-blue"
                  class="q-mr-sm"
                >
                  <q-tooltip> Edit </q-tooltip>
                </q-btn>

                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteShop(props.row.id)"
                  icon="cancel"
                  color="pink"
                  class="q-mr-sm"
                >
                  <q-tooltip> Delete </q-tooltip>
                </q-btn>
              </q-td>

              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                <div v-if="col.field == 'updated_at'">
                  <span v-text="dateFromNow(col.value)"> </span>
                </div>
                <div v-else>${ col.value }</div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>

    <div class="q-mt-lg">
      <span class="text-h5">Orders</span>
    </div>
    <q-card class="q-mt-xs">
      <q-card-section>
        <p class="q-mb-none">
          Orders are managed in the Orders extension. Enable it to view and
          process webshop orders.
        </p>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">{{SITE_TITLE}} WebShop</h6>
        <p>Embedible web-shop</p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "webshop/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "webshop/_webshop.html" %}
        </q-list>
      </q-card-section>
    </q-card>
  </div>

  <!--/////////////////////////////////////////////////-->
  <!--//////////////FORM DIALOG////////////////////////-->
  <!--/////////////////////////////////////////////////-->

  <q-dialog v-model="shopFormDialog.show" position="top">
    <q-card
      v-if="shopFormDialog.show"
      class="q-pa-lg q-pt-md lnbits__dialog-card q-col-gutter-md"
    >
      <span class="text-h5">Shop</span>

      <q-input
        filled
        dense
        v-model.trim="shopFormDialog.data.name"
        label="Name"
      ></q-input>

      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-4">
          <q-input
            filled
            dense
            type="color"
            v-model.trim="shopFormDialog.data.primary_color"
            label="Primary Color"
          ></q-input>
        </div>
        <div class="col-12 col-sm-4">
          <q-input
            filled
            dense
            type="color"
            v-model.trim="shopFormDialog.data.secondary_color"
            label="Secondary Color"
          ></q-input>
        </div>
        <div class="col-12 col-sm-4">
          <q-input
            filled
            dense
            type="color"
            v-model.trim="shopFormDialog.data.background_color"
            label="Background Color"
          ></q-input>
        </div>
      </div>
      <q-select
        filled
        dense
        multiple
        emit-value
        map-options
        use-chips
        v-model="shopFormDialog.data.allowed_tags"
        :options="inventoryTagOptions"
        label="Inventory Tags"
        hint="Choose which inventory tags to show (all by default)"
      ></q-select>
      <q-select
        filled
        dense
        multiple
        emit-value
        map-options
        use-chips
        v-model="shopFormDialog.data.omit_tags"
        :options="inventoryOmitTagOptions"
        label="Omit Tags"
        hint="Products with these omit tags won't be included."
      ></q-select>
      <q-select
        filled
        dense
        multiple
        emit-value
        map-options
        use-chips
        v-model="shopFormDialog.data.required_customer_info"
        :options="customerInfoOptions"
        label="Customer info"
        hint="Select the customer details required to place an order."
      ></q-select>
      <div class="row q-col-gutter-md">
        <div class="col-12 col-sm-6">
          <q-toggle
            v-model="shopFormDialog.data.allow_bitcoin"
            color="primary"
            label="Allow Bitcoin / Lightning payments"
          ></q-toggle>
        </div>
        <div class="col-12 col-sm-6">
          <q-toggle
            v-model="shopFormDialog.data.allow_fiat"
            color="primary"
            label="Allow Fiat (Stripe) payments"
          ></q-toggle>
        </div>
      </div>
      <q-banner
        v-if="inventoryError"
        class="bg-orange-2 text-orange-9 q-my-sm"
        dense
        rounded
      >
        ${ inventoryError }
      </q-banner>
      <q-input
        filled
        dense
        v-model.trim="shopFormDialog.data.inventory_id"
        label="Inventory ID"
        hint="Inventory ID from the Inventory extension"
        readonly
        v-show="false"
      ></q-input>
      <q-input
        filled
        dense
        v-model.trim="shopFormDialog.data.currency"
        label="Currency"
        hint="Currency from the linked inventory"
        readonly
        v-show="false"
      ></q-input>
      <q-select
        filled
        dense
        emit-value
        v-model="shopFormDialog.data.wallet"
        :options="g.user.walletOptions"
        label="Wallet *"
      ></q-select>
      <div class="row q-mt-lg">
        <q-btn @click="saveShop" unelevated color="primary">
          <span v-if="shopFormDialog.data.id">Update</span>
          <span v-else>Create</span>
        </q-btn>
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Cancel</q-btn>
      </div>
    </q-card>
  </q-dialog>

</div>
{% endblock %}
